<configuration>
	<system.webServer>
	<rewrite>
		<rules>
			<rule name="Rewrite custom user url">
				<match url="^users/([0-9A-z]+)"/>
				<action type="Rewrite" url="users.php?username={R:1}"/>
			</rule>
			<rule name="Rewrite user directory">
				<match url="users/"/>
				<action type="Rewrite" url="/index.php"/>
			</rule>
		</rules>
	</rewrite>
	</system.webServer>
</configuration>